<h1>Edit Description
<small><%= @doc.filename %></small>
</h1>

<div class='form-group'>
<%= link_to user_profile_docs_path, :class => 'btn btn-primary btn-xs' do %>
<i class='glyphicon glyphicon-chevron-left'></i>Back<% end %>
</div>

<%= form_for [@user_profile,@doc] do |f| %>
<div class='form-group'>
<label>Description</label>
<%= f.text_area :description, {:rows => 4, :maxlength => '200', :class => "form-control input-md"} %>
</div>
<div class='form-group'>
<div class='col-sm-offset-2 col-sm-10'>
<%= f.submit 'Submit', class: 'btn btn-primary btn-sm' %>
</div>
</div>
<% end %>

